body {
    margin: 30px;
    background-color: antiquewhite;
  }
  h1 {
    font-size: 72px;
    font-family: sans-serif;
    text-align: center;
  }
 .parent {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
  }
 .parent > div {
    padding: 10px;
    background-color: #EFCB68;
    border-radius: 5px;
    display: grid;
    place-items: center;
  }
 .parent > div {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
  }